[Unit]
Description=VPN Setup
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/network-setup-service/vpninit.sh

[Install]
WantedBy=multi-user.target
